@red: @color-critical;
@green: @color-ok;
@yellow: @color-warning;
@purple: @color-unknown;
@highlight: @icinga-blue;
@border-color: @gray-lighter;
@hover-bg: rgba(255, 255, 255, 0.02);
@black: #535353;
@white: #fff;

.feed-items {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 1200px;
}

.feed-items li {
    border-bottom: 1px solid @border-color;

    &:hover {
        background-color: @hover-bg;
    }

    &::marker { //Why is it even there
        content: none;
    }

    &:last-child {
        border-bottom: 0;
    }
}

.feed-item {
    padding: 0.3rem 0rem;
    max-width: 100%;
    width: 100%;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.feed-item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    & span {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.feed-item-icon {
    // aspect-ratio: 1/1;
    width: 32px;
    font-size: 2.5em;
}

.feed-content-wrapper {
    width: 100%;
    white-space: normal;
}

.feed-item-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.4em;
}

.feed-item-category,
.feed-item-creator {
    padding: 0.2em 0.5em;
    cursor: default;
    background-color: @gray-lighter;
}

.feed-item-creator {
    font-weight: bold;
    box-sizing: border-box;
    color: @highlight;
    border: 1px solid @highlight;
}

.compact {
    & .feed-item-icon {
        width: 20px;
        font-size: 1.3em;
    }
}
